extends layout

block content
  h1 Vault Payment Successful!
  section.css-table
    section.two-column
      section.cell
        h2 Payment Details
        p Transaction ID: #{btObj.transaction.id}
        p Status: #{btObj.transaction.status}
        p Payment Method: #{btObj.transaction.paymentInstrumentType}
        p PayPal Account: #{btObj.transaction.paypal.payerEmail}
        p Amount: $#{btObj.transaction.amount} USD
        p Timestamp: #{timestamp}
        p PayPal Debug ID: #{debugId}
      section.cell
        h2 Full Braintree Response
        div(style='height: 250px; overflow: scroll; background-color: #F2F2F2;  padding: 10px; border-radius: 5px;')
          pre.
            #{btResponse}
        br
        &nbsp;
  section.css-table
    section.three-column
      section.cell
        h3 Current clientToken
        p(style='width: 900px; overflow: scroll; background-color: #F2F2F2;') #{clientToken}
      section.cell
        //
      section.cell
        //
